@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

h1{
    font-size: 40px;
    text-align: center;
    border-bottom: 2px solid brown;
    border-right: 2px solid brown;
    width: 400px;
    margin-left: 25px;
    padding-bottom: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 90vh;
    
}

img{
    width: 450px;
    height: 300px;
    margin: 15px;
    border: 1px solid black;
    opacity: 0.5;
    transition: all 1s ease-in-out;
}

img:hover{
    opacity: 1;
    transform: scale(1.1);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    text-align: center;
    background: #000;
    color: white;
    text-align: center;  
    width: 100%;
    padding: 15px;
    
}

@media only screen and (max-width: 500px){
    h1{font-size: 20px;
    width: 200px;
    padding: 10px;
    }
    img{
        width: 300px;
        height: 250px;
        text-align: center;
    }
    footer{
        width: 100vw;
        font-size: 15px;
    }
}

@media only screen and (max-width: 1025px){
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 91vh;
        
    }
    footer{
        width: 100vw;
        font-size: 15px;
        padding: 15px;
    }
}